.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(250deg, 
   rgba(100, 1, 238, 0.8) 20%, rgba(100, 1, 218, 0.5) 20%,
   rgba(100, 5, 218, 0.5) 35%, rgba(100, 1, 198, 0.6) 35%,
   rgba(100, 2, 198, 0.8) 45%, rgba(100, 1, 178, 0.5) 45%, 
   rgba(100, 4, 178, 0.8) 75%, rgba(100, 1, 1588, 0.5) 75%), 
    linear-gradient(140deg, 
   rgba(80, 24, 200, 0.8) 0%, 
   rgba(80, 48, 200, 0.8) 50%, 
   rgba(80, 95, 200, 0.8) 50%, 
   rgba(95, 33, 177, 0.8) 100%) #042361;
}
